* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
}

.contenedor{
    height: 96vh;
    width: 93vw;

}

.contenido {
    width: 93vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botones{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
}

input {
    width: 85px;
    height: 40px;
    background-color: rgb(228, 228, 228);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border:none;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 2px;
    margin: 10px;
}

#btnrojo{
    box-shadow: 0 0 20px 0px red;
    color:#ff3232;
}

#btnverde{
    box-shadow: 0 0 20px 0px rgb(8, 199, 24);
    color:rgb(3, 148, 27);
}

#btnazul{
    box-shadow: 0 0 20px 0px #3e78cf;
    color:rgb(2, 69, 145);
}

#btnamarillo{
    box-shadow: 0 0 20px 0px #EECB03;
    color:#d8bf33;
}

#btnmorado{
    box-shadow: 0 0 20px 0px #6903ee;
    color:#6903ee;
}

#btnreset{
    box-shadow: 0 0 20px 0px #333136;
    color:#131313;
}

.box {
    width: 500px;
    height: 300px;
    border: 3px groove rgb(0, 0, 0);
    background: #ffffff;
    
}


#reloj{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    width: 100vw;

}

#cuadroMedidas{
    border:2px solid black;
    margin-left:2px;
    margin-top:2px;
    padding: 10px;
    width: 98.2vw;
    height: 94.3vh;
}
