@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

* {
    margin: 0;
    padding:0;
  }
    
  body {background-color: #1F222C;}

  
  .contenedora {
    display: flex;
    flex-direction: column;
    width: 97vw;
    height: 99vh;
    margin-left:20px;
    margin-right:20px;
    align-items: center;
    justify-content: center;
    background-color: #1f222c ;   
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 1em;
  transition: all .2s;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: #fff6e6;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border:0;
 }
 
 .btn:active {
  transform: translateY(5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  border:0;
 }
 
 .btn::after {
  background-color: #fff6e6;
  border:0;
 }
 
 .btn:hover::after {
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 0;
  border:0;
 }