* {
    margin: 0;
    padding:0;
  }

    
  body {background-color: #1F222C;}

  
  .contenedora {
    display: flex;
    flex-direction: column;
    width: 97vw;
    height: 99vh;
    margin-left:20px;
    margin-right:20px;
    flex-direction: column;
    background-color: #1f222c ;   
  }

  .contenedorb {
    display: flex;
    flex-direction: column;
    width: 97vw;
    height: 99vh;
    margin-left:20px;
    margin-right:20px;
    flex-direction: column;
    background-color: #1f222c ;
  }


  .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Acumin', sans-serif;
    font-size:200px;
    
    color:#232323;
    width: 95vw;
    height: 100vh;
  }

  .emilio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gasoek One', sans-serif;
    font-size:200px;
    
    color:#e2e2e2;
    border:2px solid rgb(247, 54, 54);
    width: 96vw;
    height: 99vh;
  }

  .aboutme{
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: 'Inder', sans-serif;
    font-size:75px;
    
    color:#e2e2e2;
    border:2px solid rgb(81, 122, 168);
    width: 96vw;
    height: 30vh;
  }

  .aboutmetext{
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: 'Kanit', sans-serif;
    font-size:32px;
    
    color:#e2e2e2;
    border:2px solid rgb(81, 122, 168);
    width: 46vw;
    height: 99vh;
  }


  /* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 5px;
  --text-stroke-color: #F7E987;
  --animation-color: #F7E987;
  --fs-size: 1em;
  letter-spacing: 10px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: 'Gasoek One', 'sans-serif';
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 1.2s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 5px var(--animation-color))
}